<div class="content">
    <h4>Test1:</h4>

    <p class="question">В какую эпоху складчатости образовались уральские горы:</p>
    <mat-radio-group [(ngModel)]="answer1">
        <mat-radio-button value="1" class="answer">Байкальская</mat-radio-button>
        <mat-radio-button value="2" class="answer">Герцинская</mat-radio-button>
        <mat-radio-button value="3" class="answer">Каледонская</mat-radio-button>
    </mat-radio-group>

    <p class="question">Самый высокий вулкан на территории России:</p>
    <mat-radio-group [(ngModel)]="answer2">
        <mat-radio-button value="1" class="answer">Мутоновская сопка</mat-radio-button>
        <mat-radio-button value="2" class="answer">Корякская сопка</mat-radio-button>
        <mat-radio-button value="3" class="answer">Ключевая сопка</mat-radio-button>
    </mat-radio-group>

    <p class="question">Действующие вулканы в России расположены в пределах:</p>
    <mat-radio-group [(ngModel)]="answer3">
        <mat-radio-button value="1" class="answer">Сихоте-Алиня</mat-radio-button>
        <mat-radio-button value="2" class="answer">Саян</mat-radio-button>
        <mat-radio-button value="3" class="answer">Камчатки</mat-radio-button>
        <mat-radio-button value="3" class="answer">Урала</mat-radio-button>
    </mat-radio-group>

    <button mat-stroked-button color="accent" class="check-btn" (click)="checkTest()">Проверить</button>
</div>
