.header {
    position: relative;
    left: 0;
    right: 0;
    margin-bottom: 30px;

    .navbar-container {
        background: white;
        padding: 25px;
        box-shadow: 0 5px 30px rgba(0, 0, 0, .08);

        .links-container {
            .main {
                font-size: 1.25em;
                margin-right: 25px;
            }
            padding: 5px;
        }
    }
}
